.snowflake {
  position: fixed;
  top: -10px;
  z-index: 9999;
  user-select: none;
  pointer-events: none;
  color: white;
  font-size: 1em;
  animation: snowfall linear infinite;
}

@keyframes snowfall {
  0% {
    transform: translateY(-100vh) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}